.shop__card {
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
  opacity: 0.9;
  border-radius: 35px;
}

.shop__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

  color: #0D4C93;
}

.shop__titles::before {
  content: '';
  display: block;
  width: 220px;
  height: 220px;
  background-image: url('../../images/shop/endeavor-large 1.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.img2::before {
  background-image: url('../../images/shop/img6 1.png');
}

.img3::before {
  background-image: url('../../images/shop/gallery_cs300_1 1.png');
}

.img4::before {
  background-image: url('../../images/shop/754-1 1.png');
}

.img5::before {
  background-image: url('../../images/shop/img5 1.png');
}

.img6::before {
  background-image: url('../../images/shop/pacemaker-advisa-mrishtsh222 1.png');
}

.shop__titles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.105em;

  color: #000000;
}

.list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0D4C93;
}

.hover:hover,
.hover:active {
  color:
    #00C9C9;
}

.shop__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #0D4C93;
}