.news__card {
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
  border: 2px solid #F7F7F7;
  border-radius: 35px;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
  border: 2px solid #F7F7F7;
  border-radius: 35px;
}

.news__card-img{
  border-radius: 35px;
}

.news__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #0D4C93;
}

.news__card-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0D4C93;
}

.news__card-link:hover {
  text-decoration: underline;
  color: #00C9C9;
}

.news__card-time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #0D4C93;
}

.news__card-links {
  padding: 15px 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
  background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
  opacity: 0.9;
  border-radius: 35px;
}

.news__card-links:hover {
  color: #FFFFFF;
  background: #00C9C9;
  opacity: 0.9;
  border-radius: 35px;
}